<html>

<body>
    <h2>Hi! {{ context.user.first_name }} {{ context.user.last_name }},</h2>
    <br>
    <p>Hello, We received a request to reset the password for your account for this email address. </p>
    <p>To initiate the password reset process for your account, please click the button below: </p>
    <a href={{context.password_reset_url}}
        style="text-decoration: none; width:200px; background:#1A73E8; border-radius:5px; color:#FFFFFF;
        font-weight:bold; display:block; padding:18px; font-size:18px; text-align:center;">
        Verify Account
    </a>
    <br>
    <p>
        if clicking the button fails, copy and paste the link below in your browser:
    </p>
    <p style="color: blue;">{{context.password_reset_url}}</p>
    <p>If you did not make this request, you can ignore this email.</p>
    <p>Regards,</p>
    <p>Adzmart Team.</p>
</body>

</html>
