app:
  name: staffcenter-payroll

server:
  listen: :8080

databases:
  app:
    hosts:
      - {{getv "/sc_payroll/databases/hosts1" "localhost:9042" }}
    keyspace: {{getv "/sc_payroll/databases/keyspace" "sc_payroll" }}
