htmlcov/
.coverage
.DS_Store
.dockerignore
deployment
*.komodoproject
*.pyc
*.pyo
*.orig
*.sqlite*
*.db
*.sqlite-bak
*.swp
*.old
*.rar
*.log
local_settings.py
aspnet_client
backups
build
dev
/emails/
index
/media/
static/
**/static/*
/.idea/
/cloudbuild/
/kubernetes/
wheelhouse
docs
src
tokeninput
.vscode
.env
.coveragerc
Pipfile
Pipfile.lock
