{% extends 'common/base.html' %}
{% load static %}

{% block title %}
<title>Admzart - Profile</title>
{% endblock %}

{% block content %}
<!-- Upload File Section Form-->
<div class="flex">
    <div>
        <div class="page-hero page-container" id="page-hero">
            <div class="padding d-flex">
                <div class="page-title">
                    <h2 class="text-md text-highlight">Profile</h2>
                    <small class="text-muted">Your personal information</small>
                </div>
            </div>
        </div>
        <div class="page-content page-container" id="page-content">
            <div class="padding sr">
                <div class="card">
                    <div class="card-header bg-dark bg-img p-0 no-border" data-stellar-background-ratio="0.1"
                        data-plugin="stellar">
                        <div class="bg-dark-overlay r-2x no-r-b">
                            <div class="d-md-flex">
                                <div class="p-4">
                                    <div class="d-flex">
                                        <div class="mx-3">
                                            <h5 class="mt-2">{{user.first_name}} {{user.last_name}}</h5>
                                            <div class="text-fade text-sm"><span class="m-r">{{supplier.company_name}},</span>
                                                <small>
                                                    <i class="fa fa-map-marker mr-2"></i>{{supplier.company_location}}.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="flex"></span>
                                <div class="align-items-center d-flex p-4">
                                    {% if supplier.is_verified %}
                                    <div>
                                        <span class="text-success"><i data-feather="check-circle" width="50"></i>Verified</span>
                                    </div>
                                    {% else %}
                                    <div>
                                        <span class="text-danger"><i data-feather="alert-circle" width="50"></i>Pending</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="d-flex">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab_1">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="tab" data-target="#tab_2">Activity</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 col-lg-8">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab_1">
                                <div class="card">
                                    <div class="px-4 py-4">
                                        <div class="row mb-2">
                                            <div class="col-6">
                                                <small class="text-muted">Email</small>
                                                <div class="my-2">{{user.email}}</div>
                                            </div>
                                            <div class="col-6">
                                                <small class="text-muted">Phone</small>
                                                <div class="my-2">{{user.phone_no}}</div>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-6">
                                                <small class="text-muted">Company</small>
                                                <div class="my-2">{{supplier.company_name}}</div>
                                            </div>
                                            <div class="col-6">
                                                <small class="text-muted">Role</small>
                                                <div class="my-2">Supplier</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_2">
                                <div class="card p-4">
                                    <div class="timeline animates animates-fadeInUp">
                                        <div class="tl-item  active">
                                            <div class="tl-dot ">
                                            </div>
                                            <div class="tl-content">
                                                <div class="">Added to
                                                    <a href='#'>@TUT</a> team
                                                </div>
                                                <div class="tl-date text-muted mt-1">2 days ago</div>
                                            </div>
                                        </div>
                                        <div class="tl-item  ">
                                            <div class="tl-dot ">
                                            </div>
                                            <div class="tl-content">
                                                <div class="">
                                                    <a href='#'>@Netflix</a> hackathon
                                                </div>
                                                <div class="tl-date text-muted mt-1">25/12 18</div>
                                            </div>
                                        </div>
                                        <div class="tl-item  ">
                                            <div class="tl-dot ">
                                            </div>
                                            <div class="tl-content">
                                                <div class="">Just saw this on the
                                                    <a href='#'>@eBay</a> dashboard, dude is an absolute unit.
                                                </div>
                                                <div class="tl-date text-muted mt-1">1 Week ago</div>
                                            </div>
                                        </div>
                                        <div class="tl-item  ">
                                            <div class="tl-dot ">
                                            </div>
                                            <div class="tl-content">
                                                <div class="">Prepare the documentation for the
                                                    <a href='#'>Fitness app</a>
                                                </div>
                                                <div class="tl-date text-muted mt-1">20 minutes ago</div>
                                            </div>
                                        </div>
                                        <div class="tl-item  ">
                                            <div class="tl-dot ">
                                            </div>
                                            <div class="tl-content">
                                                <div class="">
                                                    <a href='#'>@NextUI</a> submit a ticket request
                                                </div>
                                                <div class="tl-date text-muted mt-1">1 hour ago</div>
                                            </div>
                                        </div>
                                        <div class="tl-item  ">
                                            <div class="tl-dot ">
                                            </div>
                                            <div class="tl-content">
                                                <div class="">Developers of
                                                    <a href='#'>@iAI</a>, the AI assistant based on Free Software
                                                </div>
                                                <div class="tl-date text-muted mt-1">1 day ago</div>
                                            </div>
                                        </div>
                                        <div class="tl-item  ">
                                            <div class="tl-dot ">
                                            </div>
                                            <div class="tl-content">
                                                <div class="">
                                                    <a href='#'>@WordPress</a> How To Get Started With WordPress
                                                </div>
                                                <div class="tl-date text-muted mt-1">20 minutes ago</div>
                                            </div>
                                        </div>
                                        <div class="tl-item  ">
                                            <div class="tl-dot ">
                                            </div>
                                            <div class="tl-content">
                                                <div class="">From design to dashboard,
                                                    <a href='#'>@Dash</a> builds custom hardware according to on-site
                                                    requirements
                                                </div>
                                                <div class="tl-date text-muted mt-1">21 July</div>
                                            </div>
                                        </div>
                                        <div class="tl-item  ">
                                            <div class="tl-dot ">
                                            </div>
                                            <div class="tl-content">
                                                <div class="">Fun project from this weekend. Both computer replicas are
                                                    fully functional</div>
                                                <div class="tl-date text-muted mt-1">03/12 18</div>
                                            </div>
                                        </div>
                                        <div class="tl-item  ">
                                            <div class="tl-dot ">
                                            </div>
                                            <div class="tl-content">
                                                <div class="">We help companies deliver reliable and beautiful
                                                    <a href='#'>@IOSapps</a>
                                                </div>
                                                <div class="tl-date text-muted mt-1">13/12 18</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
