{% extends 'common/auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Admzart - Complete Invite Setup</title>
{% endblock %}

{% block content %}
<div class="col-md-6">
    <div id="content-body">
        <div class="p-3 p-md-5">
            <div class="text-center">
                {% include 'common/messages.html' %}
            </div>
            <h3>Register - Staff Account</h3>
            <p>
                <small class="text-muted">Please fill the following details to create your account</small>
            </p>
            <form action="{% url 'authentication:accept_invite' user.uuid %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mb-4">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
